
.main {
    h1 {
        text-align: center;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.roomForm {
    width: 350px;
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
        padding: .5rem;
        box-sizing: border-box;

        &::placeholder {
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        &:focus {
            outline-style: none;
        }
    }

    button {
        background-color: black;
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding: .5rem 1rem;
        border-radius: .5rem;
    }
}

.backLink {
    text-align: end;
    padding: .5rem 0;
}

